<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}">
				<th><span th:text="${course.name}"></span></th>
				<th><span th:text="${course.description}"></span></th>
				<th><span th:text="${course.price}"></span></th>
				<th><span th:text="${course.hours}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/courses/store}" th:object="${course}" method="POST">
		<p>NAME: <input type="text" th:field="*{name}"/></p>
		
		<p>Description: <input type="text" th:field="*{description}"/></p>
		
		<p>Price: <input type="number" th:field="*{price}"/></p>
		
		<p>Hours: <input type="number" th:field="*{hours}"/></p>
		
		<input type="submit" value="SUBMIT"/>
	</form>
	
</body>
</html>