<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>IHELLO</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>AGE</th>
			</tr>
		</thead>
		
		<tbody th:each="person : ${people}">
			<tr>
				<th th:text="${person.name}"></th>
				<th th:text="${person.age}"></th>
				
			</tr>
		</tbody>
	</table>	
</body>
</html>