<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<h1> PERSON: <span th:text="${person.name}"></span> - <span th:text="${person.age}"></span> ADDED!!</h1>
</body>
</html>